form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  color: black;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
}

.pagesignin {
  padding: 50px;
  --main-colors: #00008b;
  --sec-color: #add8e6;
  padding: 20px;
  display: flex;
  width: 100%;
  background-color: #add8e6;
  align-items: center;
}
.pagesignin h1 {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}
.pagesignin1 {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  background-color: #add8e6;
  justify-content: center;
  align-items: center;
}

.sign-part1 {
  width: calc((100% - 250px) / 2);
  height: calc(100% - 20px);

  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  color: rgb(19, 14, 8);
  font-size: medium;
  font-weight: 500;
  border-radius: 20px;
}
.userLogo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #00008b;
  border: black 2px solid;
}
.sign-part1 img {
  display: block;
}

.sign {
  width: calc((100% - 80px) / 2);
  margin-left: auto;
}
.sign input {
  width: 80%;
  border-color: black;
  padding: 10px;
  border-radius: 5px;
}
.sign button {
  border-radius: 5px;
  background-color: #0074d9;
  border-color: black;
  width: 80%;
  color: white;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
}
@media (max-width: 1010px) {
  .pagesignin1 {
    flex-direction: column;
    gap: 60px;
  }

  .sign-part1 img {
    display: none;
  }

  .sign {
    width: 100%;
    padding: 0;
  }
}
