.products  .overlay{
    background-color: rgb(0, 0,0, 0.2);
    transform:scaleY(0) ;
    transition: 0.5s;

}
.product {
   
    background-color: #f3f3f3;
}
.products:hover .overlay{
    transform:scaleY(1); 
}
.products:hover .overlay .icon{
    transform:scale(1) rotate(360deg); 
}
.products{
    height: 450px;
    
}

.products  .overlay Link{
    cursor: pointer;
    transform:scale(0) ;
    transition: 0.2s;
    

}
.main-color{
    background-color: var(--sec-color) !important;
}
.overlay a:hover{
    background-color:transparent !important;
    border: 1px solid var(--sec-color);
    color:  var(--sec-color) !important;
}
.products .info{
    bottom: 30px;
    transition: 0.5s;
    opacity: 0;
    background-color: var(--sec-color) !important;
    color: #f3f3f3;
}
.products:hover .info{
    bottom: 0px;
    opacity: 1;
}
.category-img{
    border-radius: 50%;

}
.no-underline {
    text-decoration: none;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .error-message {
    color: red;
    text-align: center;
    padding: 20px;
  }
  
  .categories-img {
    text-align: center;
  }
  
  .category-img {
    
   
    height: auto;
    border-radius: 50%;
  }
  
  .category-name {
    font-size: 1.2em;
    margin-top: 10px;
    color: var(--main-colors);
    text-align: center;
  }
  
  @media (max-width: 640px) {
    .category-name {
      font-size: 1em;
    }
  }
  
