
  .basic_navbar .navbar img{

      height: 65px;
  }
  .basic_navbar .nav-link.active:not(.cart){
     border-radius: 16px ;
     background-color: var(--sec-color);
     color: white !important;
  }
  .basic_navbar .nav-link:hover:not(.cart){
    border-radius: 16px ;
    background-color: var(--sec-color);
    color:var(--main-colors);
    opacity: 0.5;
 }

 .basic_navbar .dropdown-item:focus, .dropdown-item:hover {
      color: white;
      background-color:var(--sec-color) !important;
  }
  .basic_navbar .dropdown-item{
    color: var(--main-colors) !important;
  }
  .basic_navbar .navbar  .nav-link{
      color:var(--main-colors) ;
      margin-right: 20px;
  }
  .basic_navbar .nav-item span{
    background-color: var(--sec-color);
    left: 30px;
    top:-5px;
    width: 25px;
    height: 25px;
    color: #0d0d0d;
    font-size: 13px;
    text-align: center; 
    z-index: -1;  
}
.basic_navbar .nav-item svg{
  color: var(--main-colors) !important;
}